1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [2]:
list1=["Mike","","Emma","Kelly","","Brad"]
list1=[x for x in list1 if x.strip()]
print(list1)# write your code here

['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [4]:
list2 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list2[2][2].insert(2,7000)
print(list2)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [5]:
list3 = [5, 10, 15, 20, 25, 50, 20]#write your code here
index=list2.index(20)
list3[index]=200
print(list3)

[5, 200, 15, 20, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [7]:
list4 = [5, 20, 15, 20, 25, 50, 20]# write your code here
list4=[x for x in list4 if x!=20]
print(list4)

[5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [6]:
list5 = ["Hello ", "take "]
list6 = ["Dear", "Sir"]
res= [x + y for x in list5 for y in list6]
print(res)# write your code here

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']